GCTagList.xcodeproj/project.xcworkspace/xcuserdata/handkid.xcuserdatad/UserInterfaceState.xcuserstate
GCTagList.xcodeproj/xcuserdata/handkid.xcuserdatad/xcschemes/GCTagList.xcscheme
GCTagList.xcodeproj/xcuserdata/handkid.xcuserdatad/xcschemes/xcschememanagement.plist
.idea
GCTagList.xcodeproj/xcuserdata
GCTagList.xcodeproj/project.xcworkspace/xcuserdata
atlassian-ide-plugin.xml
